wget
wheel
psutil
heroku3
requests
tgcrypto
ffmpeg-python
python-dotenv
youtube_search
youtube_search_python
pyrogram==2.0.106
py-tgcalls==2.2.8
git+https://github.com/asmsafone/downloader
opentelemetry-api>=1.14.0
opentelemetry-sdk>=1.14.0
opentelemetry-exporter-otlp>=1.14.0
